@using Wine.Core.Helpers
@model Wine.Core.Entities.Wine

<div class="row" style="margin-top: 15px; margin-bottom: 15px">
    <div class="col-md-2">
        <a href="@Url.Action("Index")" class="btn btn-primary">Go back to wine list</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">@Model.Name</div>
            <div class="panel-body">
                @Model.Description
            </div>

            <ul class="list-group">
                <li class="list-group-item">@Model.Category.GetDescription()</li>
                <li class="list-group-item">@Model.Region</li>
                <li class="list-group-item">@Model.Varietal.GetDescription()</li>
            </ul>
        </div>
    </div>
</div>
@if (User.IsInRole("Reviewer"))
{
    <div class="row" style="margin-top: 15px; margin-bottom: 15px">
        <div class="col-md-2">
            <button data-target="#addReviewModal" data-toggle="modal" class="btn btn-primary">Add comment</button>
        </div>
    </div>

    <div id="addReviewModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add review</h4>
                </div>
                <div class="modal-body">
                    <form id="addReview" action="@Url.Action("AddReview")">
                        <input type="text" name="id" hidden value="@Model.Id">
                        <div class="form-group">
                            <label class="control-label">Review:</label>
                            <textarea class="form-control" name="review"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" form="addReview" class="btn btn-primary">Add review</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
}
@foreach (var review in Model.Reviews)
{
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" style="word-wrap: break-word;">
                    @review.Body
                </div>
                <div class="panel-footer">Created @review.Created.ToString("g") by @review.User.Username</div>
            </div>
        </div>
    </div>
}

<script>
</script>

